<footer>

  <div class="site-link">
    <i class="fa fa-github" aria-hidden="true"></i>
    <a href="{{ site.social.github }}"> Github
    </a>
  </div>
  <div class="site-link">
    <i class="fa fa-flickr" aria-hidden="true"></i>
    <a href="{{ site.social.flickr }}"> Flickr
    </a>
  </div>
  <div class="site-link">
    <i class="fa fa-comments-o" aria-hidden="true"></i>
    IRC: {{ site.social.irc }}
  </div>
  <div class="site-link">
    <i class="fa fa-weixin" aria-hidden="true"></i>
    Wechat: {{ site.social.wechat }}
  </div>
  <div class="site-link">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    Admin: szdiyadm[#]gmail.com
  </div>

</footer>
