<footer>

  <div class="site-link">
    <i class="fa fa-github" aria-hidden="true"></i>
    <a href="{{ site.social.github.link }}" target="_blank">{{ site.social.github.title }}
    </a>
  </div>
  <div class="site-link">
    <i class="fa fa-flickr" aria-hidden="true"></i>
    <a href="{{ site.social.flickr.link }}" target="_blank"> {{ site.social.flickr.title }}
    </a>
  </div>
  <div class="site-link">
    <i class="fa fa-comments-o" aria-hidden="true"></i>
    <a href="{{ site.social.irc.link }}" target="_blank">{{ site.social.irc.title }}
    </a>
  </div>
  <div class="site-link">
    <i class="fa fa-weixin" aria-hidden="true"></i>
    {{ site.social.wechat.title }}
  </div>
  <div class="site-link">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    {{ site.social.admin.title }}
  </div>

</footer>
