/* COMMON STYLES */
body {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  color: $base-font-color;
}

p {
  margin-top: 0;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #222;
}

code {
  padding: 0 3px;
  background-color: #f2f8fc;
  border: solid 1px #dbe7f3;
}

pre {
  padding: 20px;
  overflow: auto;
  text-shadow: none;
  background: #fff;
  border: solid 1px #f2f2f2;
}
pre code {
  padding: 0;
  color: #2879d0;
  background-color: #fff;
  border: none;
}

ul, ol, dl {
  margin-bottom: 20px;
}
hr {
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: solid 1px #ddd;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ebebeb;
}

form {
  padding: 20px;
  background: #f2f2f2;

}

/* LAYOUT STYLES */
#content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

#inner {
  display: flex;
  height: 100%;
}

/* 左栏 */
// logo头部
header {
  margin: 20px 10px;
  font-family: $font-family;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    border-color: #fff;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 32px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -1px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: 0;
  }
}

aside#sidebar {
  position: relative;
  flex: 0 0 auto;
  width: $sidebar-width;
  line-height: 1.3;
  color: $sidebar-color;
  background-color: $sidebar-bg-color;

  a {
    color: $sidebar-color;
    &:hover {
      color: $sidebar-color;
    }
  }

  .logo {
    display: block;
    width: 200px;
    height: 200px;
  }

  .nav {
    padding: 0 20px;

    a {
      border-bottom: 1px solid transparent;
      &:hover, &:active {
        border-bottom: 1px solid #fff;
      }
    }
  }

  footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    color: #aaa;

    a {
      color: #aaa;
      &:hover {
        color: #eee;
      }
    }
  }

}

/* GENERAL ELEMENT TYPE STYLES */
#main-content {
  flex: 1 1 auto;
  min-width: 0;
  padding: 20px;
  overflow: auto;

  img {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    color: $header-color;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.8em;
    font-weight: normal;
    text-indent: 6px;
    letter-spacing: -1px;
  }

  h2 {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
    text-indent: 4px;
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    text-indent: 3px;
  }

  h4 {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #474747;
    text-indent: 3px;
  }

  h5 {
    margin-bottom: 8px;
    font-size: 14px;
    color: #474747;
    text-indent: 3px;
  }

  h6 {
    margin-bottom: 8px;
    font-size: .8em;
    color: #474747;
    text-indent: 3px;
  }
}


p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 15px;
  border-left: 10px solid #e9e9e9;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}


/* MISC */
// .clearfix:after {
//   display: block;
//   height: 0;
//   clear: both;
//   visibility: hidden;
//   content: '.';
// }
//
// .clearfix {display: inline-block;}
// * html .clearfix {height: 1%;}
// .clearfix {display: block;}
