$font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;

/* Color */
$base-font-color: #404040;
// #main-content
$header-color: #404040;

$link-color: #2879d0;
$link-hover-color: #2879d0;

$tree-line-color: #919191;


/* 页面元素 */
$sidebar-width: 260px;
$sidebar-bg-color: #171717;
$sidebar-color: #FDFDFB;
